/* 
Author: @mrjopino
Name: Design Register
Description: Design register crazy!
*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

html{
  background-image: url("../assets/img/bocatas.jpg");
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;	
}
body {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
  	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}
/*
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
*/
input {
	font-size: 1em;
	line-height: 0em; /* Unidad de medida*/
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

.Registro {
	margin: 50px auto;
	width: 300px;
	height: auto;
	top: 400px;
}
/*
.Registro span {
	color: hsl(5, 50%, 57%);
	display: block;
	height: 48px;
	line-height: 48px;
	position: absolute;
	text-align: center;
	width: 36px;
}*/

.Registro input {
	border: none;
	height: 48px;
	outline: none;
}

.Registro input[type="text"] {
	background-color: #fff;
	border-top: 2px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1.25px solid black;
	border-radius: 5px 5px 5px 5px;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}

.Registro input[type="password"] {
	background-color: #fff;
	border-top: 2px solid black;
	border-right: 1px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid black;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
	color: #363636;
	margin-bottom: 20px;
	padding-left: 36px;
	width: 204px;
}


/*
.Registro input[type="submit"]:hover {
	background-color: black;
  box-shadow: 2px 2px 20px  white, #fff 0 -1px 2px;
}
*/

.mt-5:hover{
	background-color: #F2F5D9;
	color: black;
}

.texto {
  color: black; 
  font-size: 40px; 
  margin: 2% auto;
  text-align: center;
  font-family: 'Titan One';   
  text-shadow: 2px 2px 20px  white, #fff 0 -1px 2px;
  padding-top: 30px;
}


p:hover {
  text-shadow: 2px 2px 20px  white, #fff 0 -1px 2px;
}

.colores-boton {
    color: #fff;
    background-color: black;
    border-color: black;
}

.redondeo {
    border-radius: 60rem !important;
}

.boton-general {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
	margin-top: 10px;
}

